body {
	text-align: center;
}
.dark-background {
	background-color: #3498db !important;
}
#navigation {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}
#navigation p {
	margin: 0 15%;
	font-size: 72px;
	font-weight: 900;
	cursor: pointer;
}
#gif-display {
	display: inline-flex;
	/* justify-content: space-around; */
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}
#gif-display img {
	padding: 7.5px;
	margin: 7.5px;
	border-radius: 10%;
	transition: background-color 0.25s;
}
#gif-display img:hover {
	background-color: #99cbed;
}