body {
	background: url("image.jpg") no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	font-family: 'Righteous', cursive;
}
.dark-background {
	background-color: #3498db !important;
}
#main{
	/*display: inline-flex;*/
	margin: auto;
	font-size: :72px;
	font-weight: 900;
	width: 100;
	justify-content: space-between;
	background: rgba(3,3,3,.8)
	overflow: hidden;
	box-shadow: 10px #000;
}
input[type="submit"] {
	margin: 0 10%;
	font-size: 72px;
	font-weight: 900;
	width: 70px;
	height: 70px;
	padding: 30px;
	margin: auto;
	background: rgba(3,3,3,.8)
	overflow: hidden;
	box-shadow: 10px 10px 30px #000;
	cursor: pointer;
	position: absolute;
}

#gif-display {
	display: inline-flex;
	/* justify-content: space-around; */
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}
#gif-display img {
	padding: 7.5px;
	margin: 7.5px;
	border-radius: 10%;
	transition: background-color 0.25s;
}
#gif-display img:hover {
	background-color: #99cbed;
}
label {
	text-transform: uppercase;
}
h1 {
	text-decoration-color: #F8F8FF;
	text-align: center;
	font-family: 'Bevan', cursive;
}
#footer{
	clear: both;
	text-align: right;
	position: absolute;
	font-size: 25px;
	margin: auto;
	width: 280px;
	height: 100px;
