<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Special.ly</title>
	<link href="https://fonts.googleapis.com/css?family=Bevan|Righteous" rel="stylesheet">
	<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<!-- <script src="{{ url_for('.static', filename='js/script.js') }}"></script> -->
</head>
<body>
	<h1>SPECIAL.LY</h1>
	<form name="speciallyForm" method="POST" action="/submit">
		<div>
			<label>Reservation (date and time):</label><br>
			<input type="datetime-local" name="sendTime" id="sendTime" required min="2017-10-15T00:00" value="2017-10-15T12:45" style="font-family: Arial;">
		</div>
		<div>
			<label>Phone number:</label><br>
			<input type="tel" name="phone" id="phone" placeholder="+19175136353" required pattern="\+[0-9]{11}">
		</div>
		<div>
			<label for="occasion">Occasion:</label><br>
			<select name="occasion" id="occasion">
				<option value="Birthday">Birthday</option>
				<option value="Anniversary">Anniversary</option>
				<option value="Beer-night">Beer Night</option>
			</select>
		</div>
		<div>
			<label for="msgbox">Message:</label><br>
			<textarea name="msgbox" id="msgbox" cols="50" rows="10" placeholder="Type your message here."></textarea>
		</div>
		<div class="giphy">
			<div style="display: none;">

				<label for="url">giphy</label><br>
				<input id="gif-input" name="gif-input" type="text" placeholder="Search all the GIFs... and stickers!">
			</div>

			<div id="gif-display">
			</div>
			<input id="url" name="url" style="display: none;" type="text"></input>
		</div>
		<input type="submit" value="SUBMIT">
	</form>
	<div id="footer">
	<footer>Copyright &copy; HackNY Fall 2017</footer><br>
<!-- </div> -->
</body>
</html>
